body {
  background-image: url(https://img.freepik.com/premium-vector/nature-game-background_7814-520.jpg?w=740);
  align-items: center;
}

h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

#care {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 150px;
  height: 100px;
  background: rgba(255,255,255,0.3);

}

#food {
  
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 150px;
  height: 100px;
  background: rgba(255,255,255,0.3);

}
#ball {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 150px;
  height: 100px;
  background: rgba(255,255,255,0.3);

}
#attention {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 200px;
  height: 100px;
  background: rgba(255,255,255,0.3);
}

.demand-images {
  display: flex;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}


h2 {
  text-align: center;
}


/* 
.btn-class {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 160px;
  height: 100px;
  background: rgba(255,255,255,0.3);

} */

.btn-class {
  display: flex;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 350px;
  height: 100px;
  background: rgba(255,255,255,0.3);
}

#begin-button {
  padding: 0;
  border: none;
  background: none;
  font-size: x-large;
}

#reset-button {
  padding: 0;
  border: none;
  background: none;
  font-size: x-large;
}
#score {
  padding: 0;
  border: none;
  background: none;
  font-size: x-large;
}


